<div class="page-content">
    <h1 class="my-title">Pogoda</h1>
    <div class="clock"><span class="text-left">{{clock | date:'HH:mm:ss' :'UTC+1'}}</span></div>
    
        <div class="search">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Miasta</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                      Ulubione <i class="fas fa-star"></i></a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <search-city (selectedCity)="getSelectedCity($event)"></search-city>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <my-city (removeFavoritCity)="addMyFavoritCity($event)" (selectedCity)="getSelectedCity($event)" (setStar)="setStar($event)" [selectedCity]="selectedCity" [addFavoritCity]="addFavoritCity"></my-city>
                </div>
              </div>

            
        </div>
        <div class="my-card">
            <weather-card (deleteFavoriteCity)="deleteMyFavoriteCity($event)" (addMyFavoritCity)="addMyFavoritCity($event)" [star]="star" [selectedCity]="selectedCity"></weather-card>
        </div>
        <forecast-weather-card [selectedCity]="selectedCity"></forecast-weather-card>
        
</div>
  



 

