<div class="page-content">
    <h1 class="my-title">Pogoda <span>{{selectedCity}}</span></h1>
    <div class="clock"><span class="text-left">{{clock | date:'HH:mm:ss' :'UTC+1'}}</span></div>
        <div class="search">
            <search-city (selectedCity)="getSelectedCity($event)"></search-city>
        </div>
        <div class="my-card">
            <weather-card [selectedCity]="selectedCity"></weather-card>
        </div>
        <forecast-weather-card [selectedCity]="selectedCity"></forecast-weather-card>
    
</div>

  



 

