<div class="card" >
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h5 class="card-title city-name">{{[name]}}</h5>
            </div>
            <div class="col-6">
                <div class="min-max-temp">
                    <i class="fa fa-long-arrow-up"></i ><span> {{temp_max}}&deg;C </span>
                    <i class="fa fa-long-arrow-down"></i ><span> {{temp_min}}&deg;C</span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col4 mr-3 ml-3">
                <div class="day"><span>{{day}}</span></div>
                <div class="date"><span>{{date}}</span></div>
                <div class="wind"><span>Wiatr {{wind}} m/s</span></div>
                <div class="clouds"><span>Zachmurzenie {{clouds}} %</span></div>
                <div class="rain"><span>Deszcz {{rain}} mm</span></div>
                <div class="humadity"><span>Wilgotność {{humidity}} %</span></div>
            </div>
            <div class="col4 ml-3 mr-3">
                <div class="description">
                    <img src="{{icon}}" height="170" weight="120">
                    <br>
                    <span>{{description}}</span>
                </div>
            </div>
            <div class="col4 ml-3 mr-3">
                <div class="pressure"><span>{{pressure}} hpa</span></div>
                <div class="temp"><span>{{temp}} &deg;C</span></div>
                <div class="sun">
                    <!-- <i class="fas fa-cloud-sun"></i> <span>{{sunrise | date:'hh:mm' :'+133'}}</span><br> -->
                    <i class="fas fa-cloud-sun"></i> <span>{{sunrise}}</span><br>
                    <i class='fas fa-cloud-moon'></i> <span>{{sunset}}</span>
                </div>
            </div>
        </div>

    </div>
  </div>
