<div class="card" >
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h5 class="card-title city-name">Gdańsk</h5>
            </div>
            <div class="col-6">
                <div class="min-max-temp">
                    <i class="fa fa-long-arrow-up"></i ><span> 7&deg;C </span>
                    <i class="fa fa-long-arrow-down"></i ><span> 5&deg;C</span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col4 mr-3 ml-3">
                <div class="day"><span>Środa</span></div>
                <div class="date"><span>08-01-2020</span></div>
                <div class="wind"><span>Wiatr 4.1 m/s</span></div>
                <div class="clouds"><span>Zachmurzenie 90 %</span></div>
                <div class="rain"><span>Deszcz 0.0 mm</span></div>
                <div class="humadity"><span>Wilgotność 100 %</span></div>
            </div>
            <div class="col4 ml-3 mr-3">
                <div class="description">
                    <img src="../../assets/img/obrazek.png" height="170" weight="120">
                    <p>Lekki deszcz</p>
                </div>
            </div>
            <div class="col4 ml-3 mr-3">
                <div class="pressure"><span>1017 hpa</span></div>
                <div class="temp"><span>6 &deg;C</span></div>
                <div class="sun">
                    <i class="fas fa-cloud-sun"></i> <span>08:03</span><br>
                    <i class='fas fa-cloud-moon'></i> <span>15:39</span>
                </div>
            </div>
        </div>

    </div>
  </div>
