.weather-card{
    height: 300px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 10px;
    overflow: hidden;
    background-color: #252526;
    -webkit-box-shadow: 3px 3px 21px 0px rgba(50, 50, 50, 0.96);
    -moz-box-shadow:    3px 3px 21px 0px rgba(50, 50, 50, 0.96);
    box-shadow:         3px 3px 21px 0px rgba(50, 50, 50, 0.96);
}


.weather-card-left{
    width: 186px;
}

.weather-card-center{
    width: 236px;
}

.weather-card-right{
    width: 170px;
}

.sun{
    width: 590px;
    padding-top: 10px;
    padding-left: 60px;
    font-size: 20px;
}

/* ---------------------------------*/

.min-max-temp{
    font-family: 'Roboto', sans-serif;
    /* color: white; */
    text-align: right;
    text-transform: uppercase;
    font-size: 20px;
}

.color-out{
    color: #427db0;
}

.color-in{
    color: #88caf0;
}

.color-unit{
    color: #ce9178;
}

.color-r{
    color: #cf3e2c;
}
.day{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 25px;
    text-transform: lowercase;
    color: #b5cea8;
}
.day::first-letter{
    text-transform: uppercase;
}
.date{
    font-size: 22px;
}

.wind{
    margin-top: 16px;
    font-size: 20px;
}

.clouds{
    font-size: 20px;
}

.rain{
    font-size: 20px;
}

.humadity{
    font-size: 20px;
}

.description{
    font-family: 'Roboto', sans-serif;
    color: #23d18b;
    text-align: center;
    text-transform: lowercase;
    font-size: 18px;
}

.description::first-letter{
    text-transform: uppercase;
}

.pressure{
    margin-top: 20px;
    font-size: 20px;
    text-align: right;
}

.temp{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 70px;
    text-align: right;
}

.my_favorit{
    color:#ffff00;
    font-size: 20px;
    position: absolute;
    left: 10px;
    z-index: 1;
}

.my_favorit a:hover{
    color: #e6d1af;
    cursor: pointer;
}
